{% extends 'core/base.html' %}

{% block contenido %}

<h2>Empresas Registradas</h2>

<table border="1">

<tr>

    <th>Razón Social</th>
    <th>RUC</th>
    <th>Representante</th>
    <th>Estado</th>

</tr>

{% for empresa in empresas %}

<tr>

    <td>{{ empresa.razon_social }}</td>

    <td>{{ empresa.ruc }}</td>

    <td>{{ empresa.representante_legal }}</td>

    <td>{{ empresa.estado }}</td>

</tr>

{% empty %}

<tr>

<td colspan="4">

No existen empresas registradas

</td>

</tr>

{% endfor %}

</table>

{% endblock %}