/* Estilos personalizados ISBEN Solution */

.bg-fondo-isben {
    background-image: url('../img/fondos/fondo-isben.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.bg-foto-lateral {
    background-image: url('../img/fondos/foto-form-lateral.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}